name: CI

on:
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [23.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}

      - name: Install deps
        run: npm ci
        working-directory: frontend

      - name: Lint
        run: npm run lint --if-present
        working-directory: frontend

      - name: Commitlint
        run: npx commitlint --from=origin/main --to=HEAD
        working-directory: frontend

      - name: Typecheck / Build
        run: npm run build --if-present
        working-directory: frontend

      - name: Test
        run: npm test --if-present -- --ci
        working-directory: frontend